body{
    background-color: rgba(0, 128, 28, 0.267);
}
h1{color: white;}
p{
    color: rgb(0, 174, 255);
    animation-direction: alternate;
    animation: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-duration: 6s;
    word-spacing: 4cm;
}
ul{
    background-color: silver;
}


